<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <button ngbNavLink type="button">Test</button>
    <ng-template ngbNavContent>
      <button type="button" (click)="startTest()" [disabled]="disallowEvaluation">Evaluate</button>
    </ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink type="button">Exec</button>
    <ng-template ngbNavContent>
      <button type="button" (click)="startExec()" [disabled]="disallowEvaluation">Evaluate</button>
    </ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink type="button">Replace</button>
    <ng-template ngbNavContent>
      <button type="button" (click)="startReplace()" [disabled]="disallowEvaluation">Evaluate</button>
    </ng-template>
  </li>
  <li ngbNavItem>
    <button ngbNavLink type="button">Split</button>
    <ng-template ngbNavContent>
      <button type="button" (click)="startSplit()" [disabled]="disallowSplit">Evaluate</button>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>